.footer {
    background-color: var(--bg-footer);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center  ;
    height: 150px;
}

.footer > div img {
    margin-left: 5px;
}

.instagram, .facebook, .twitter {
    width: 25px;
    height: 25px;
}

.instagram:hover path,
.facebook:hover path,
.twitter:hover path {
    fill: var(--dark-pink); 
    cursor: pointer; 
    transition: all .5s;

}

.instagram, 
.facebook, 
.twitter {
    cursor: pointer;
}