.calendar {
    background-color: #D9D9D9;
    height: 350px;
}



.footer {
    background-color: var(--bg-footer);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center  ;
    height: 150px;
}

.footer > div img {
    margin-left: 5px;
}