.calendar {
    background-color: #D9D9D9;
    height: 350px;
}

.footerContact {
    background-color: #090083;
    height: 213.6px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: var(--bg-footer);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center  ;
    height: 150px;

}