.preheader {
    background-color: var(--bg-preHeader);
    padding: 0 !important;
    height: 35px;
}

.button-login {
    display: flex;
    align-items: center;
    height: 35px; 
}

.button-login > a {
    text-decoration: none !important;
    color: black;
}

.button-resume {
    float: right;
    background-color: var(--pink);
    border: 0;
    width: 180px;   
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.button-resume > a {
    text-decoration: none !important; 
    color: white;
    font-weight: bold;
}
