/*variables colors*/
:root {
    --pink: #E5007D;
    --bg-footer: #262626;
    --bg-dark-blue: #080083;
    --bg-light-blue: #0900ba;
    --text-blue: #0029de;
    --bg-preHeader: #ebebeb;
    --bg-ligth-gray: #eaeaea;
}


/*general*/
* {
    font-family: "Graphik";
}

a {
    text-decoration: none !important;     
  }


h2 {
    color: var(--text-blue) !important; 
    font-size: 48px !important;
    font-weight: bold !important;
}

h3 {
    color: var(--pink) !important; 
    font-size: 48px !important;
    font-weight: bold !important;
}

h4 {
    color: white !important; 
    font-size: 36.80px !important;
    font-weight: bold !important;
}

h5 {
    z-index: 2;
    color: white !important;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px !important;
    text-align: center;
    font-weight: bold !important;    
}

h6 {
    color: #383b3e !important;
    font-size: 24px !important;
    font-weight: 400 !important;
}

h7 {
    color:var(--text-blue) !important;
    font-weight: bold;
}

h8 {
    color: white;
    font-weight: bold;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1340px !important;
    }
}

.container-fluid {
    padding: 0px !important;
}

/*preheader*/
.preheader {
    background-color: var(--bg-preHeader);
    padding: 0 !important;
    height: 35px;
}

/* links */
.menu-link {
    font-weight: 600 !important;
    color: black !important;    
}
.menu-link-active {
    color: var(--bg-light-blue) !important;
}
.menu-link:hover {
    color: var(--bg-light-blue) !important;
}

.menu-link:not(:last-child):after {
    content: "|";
}




/**carito - orders*/

/* steps */

.circle-active {
    background-color: var(--text-blue);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-left: -10px;
    box-shadow: 2px 2px 1px white;
}

.circle-disabled {
    background-color: var(--bg-ligth-gray);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-left: -10px;
    box-shadow: 2px 2px 1px #888888;
}

.rectangle-active {
    background-color: var(--text-blue);
    width: 200px;
    height: 25px;
    margin-left: -10px;
    display: flex;
    justify-content: center;
}

.rectangle-disabled {
    background-color: var(--bg-ligth-gray);
    width: 200px;
    height: 25px;
    margin-left: -10px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 1px #888888;
    border-radius: 2px;

}

.rectangle-active > p {
    color: white;
    font-weight: bold;
    display: flex;
  
}

.circle-active img,
.circle-disabled img {
    display: block;
    margin: auto;
}

.steps {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.circle-active,
.circle-disabled {
    
    z-index: 2; 
}

.rectangle-active,
.rectangle-disabled {
    z-index: 1; 
}






/* order table */

.orders{

    border: var(--pink);
    display: flex;
    justify-content: center;
    text-align: center;
}

.order {
    border: 1px solid black;
    /*border-collapse: collapse;*/
    
}

.orderHeader {
    background-color: black;
    display: flex;
    flex-direction: column;
}


.cart-empty-message {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    font-size: 25px;
}

.cart-image {
    margin-top: 20px;
    width: 200px;
}

.order-product-image {
    max-width: 90px;
    max-height: 90px;
    object-fit: cover;
}




/* carousel */

.carousel-item > img {
    max-height: 650px !important;
    object-fit: cover;
}

/* margins */

.mt-70 {
    margin-top: 70px;
}


/* BUTTONS */

.btn-outline-success {
    --bs-btn-color: var(--bg-light-blue) !important;
    --bs-btn-border-color: var(--bg-light-blue) !important;
    --bs-btn-hover-bg: var(--bg-light-blue) !important;
    --bs-btn-hover-border-color: var(--bg-light-blue) !important;
}

.button-resume {
    float: right;
    background-color: var(--pink);
    border: 0;
    width: 180px;
    text-decoration: none !important;    
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.button-resume > a {
    color: white;
    font-weight: bold;
}

.btn-outline-primary {
    border-radius: 0 !important;
    --bs-btn-color: white !important;
    --bs-btn-border-color: white !important;
    --bs-btn-hover-bg: white !important;
    --bs-btn-hover-color: #080083 !important;
    --bs-btn-hover-border-color: white !important;
    --bs-btn-font-weight: bold !important;
}

.btn-outline-secondary {
    z-index: 2;
    position: absolute;
    border-radius: 0 !important;
    --bs-btn-color: white !important;
    --bs-btn-bg: var(--pink) !important;
    --bs-btn-border-color: var(--pink) !important;
    --bs-btn-hover-bg: var(--pink) !important;
    --bs-btn-hover-color: white !important;
    --bs-btn-hover-border-color: white !important;
    --bs-btn-font-weight: bold !important;
    
    font-size: 20px !important;
    margin: 140px;
}

.add-btn {
    background-color: var(--pink);
    height: 45px;
    width: 100px;
    border-style: none;
    color: white;
    font-weight: bold;
}

.category_button {
    display: flex;
    text-align: center;
    justify-content: center;
    color: var(--bg-light-blue) !important;
    border: 2px solid var(--bg-light-blue) !important;
    width: 127px;
    font-weight: bold !important;
    font-size: 16px;
    margin: 5px;
    height: 25px;
    padding: 0 !important;

}
.category_button:hover {
    color: white !important;
    border: 2px solid var(--bg-light-blue) !important;
    background-color: var(--bg-light-blue) !important;
}

.category_button_active {
    background-color: var(--bg-light-blue) !important;
    color: white !important;
}

.btn-add-del {
    --bs-btn-color: white !important;
    --bs-btn-bg: gray !important;
    --bs-btn-border-color: var(--bg-dark-blue);
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: var(--bg-dark-blue);
    --bs-btn-hover-border-color: var(--bg-dark-blue);
    --bs-btn-focus-shadow-rgb: 225,83,97;
    --bs-btn-active-color:white;
    --bs-btn-active-bg: var(--bg-dark-blue);
    --bs-btn-active-border-color: var(--bg-dark-blue);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;


}
.no-btn {
    color:#eeeeee;
    border: 1px solid black;
    border-color: black;
    border-style: dotted ;
}

 /* ICONS */
.icons {
    height: 25px;
     width: 25px;
}

/* CARDS */

.card-body {
    background-color: #f2f2f2;
}

.card {
    border-radius: 0 !important;
    max-width: 540px;
    max-height: 150px;
    padding: 0px !important;
        
}

.product-cards {
    padding: 0;
    width: 250px;
}

.productImage img {
    width: 100%; 
    height: 100%;
    max-width: 200px;
    max-height: 200px; 
    object-fit: cover;
}



/* HOME CARDS */
.home-welcome-primary {
    background-color: #080083; 
    height: 380px;
    padding: 20px !important;

}

.home-welcome-secondary {
    background-color: var(--bg-light-blue);
    height: 281.8px;
}

.home-welcome-secondary .h4 .p{
    display: flex;
    flex-direction: right;
}

.home-plates-bg {
    background-image: url("../images/home/pasta.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    height: 380px;
}

.home-breakfast-bg {
    background-image: url("../images/home/breakfast.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 281.8px;
}

.home-drinks-bg {
    background-image: url("../images/home/coctails.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    height: 281.8px;
}

.home-offer-breakfast-bg {
    background-image: url("../images/home/offer_breakfast.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    height: 350px;
    position: relative;
}

.home-offer-pasta-bg {
    background-image: url("../images/home/offer_pasta.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x:right;
    height: 350px;
    position: relative;
}

.home-offer-toast-bg {
    background-image: url("../images/home/offer_toast.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 350px;
    position: relative;
}

/* HOME CARDS OFFERS*/
.home-offer-breakfast-bg::before,
.home-offer-pasta-bg::before,
.home-offer-toast-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

/* FOOTER */

.calendar {
    background-color: #D9D9D9;
    height: 350px;
}

.footerContact {
    background-color: #090083;
    height: 213.6px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



.footer {
    background-color: var(--bg-footer);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center  ;
    height: 150px;

}


/* REGISTER / LOGIN */
.register, .login {
    border: 1px solid #cacccd;
    box-shadow: 2px 2.3px 0 0 #cacccd;
    width: 250px;
    height: 35px;

}