@import 'variables.css';

/*general*/
* {
    font-family: "Graphik";
}

a {
    text-decoration: none !important;     
}

h2 {
    font-size: 48px !important;
    font-weight: bold !important;
    color: var(--text-blue) !important;
}

h3 {
    font-size: 48px !important;
    font-weight: bold !important;
}

.h3-smallest {
    font-size: 36.80px !important;
}

h4 {
    color: #383b3e !important;
    font-size: 24px !important;
    font-weight: 400 !important;
}

h5 {
    color:var(--text-blue) !important;
    font-weight: bold !important;  
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1340px !important;
    }
}

.container-fluid {
    padding: 0px !important;
}

/* COLOR CLASS */
.text-blue {
    color: var(--text-blue) !important;
}
.pink {
    color: var(--pink) !important;
}
.white {
    color: white !important;
}

.bold {
    font-weight: bold !important;
}

.error {
    color: tomato;
    font-size: 14px;
    margin-top: 15px;
}

/* BUTTONS */

.btn-outline-success {
    --bs-btn-color: var(--bg-light-blue) !important;
    --bs-btn-border-color: var(--bg-light-blue) !important;
    --bs-btn-hover-bg: var(--bg-light-blue) !important;
    --bs-btn-hover-border-color: var(--bg-light-blue) !important;
}

.btn-outline-primary {
    border-radius: 0 !important;
    --bs-btn-color: white !important;
    --bs-btn-border-color: white !important;
    --bs-btn-hover-bg: white !important;
    --bs-btn-hover-color: #080083 !important;
    --bs-btn-hover-border-color: white !important;
    --bs-btn-font-weight: bold !important;
}

.add-btn {
    background-color: var(--pink);
    height: 45px;
    width: 100px;
    border: none !important;
    color: white;
    font-weight: bold;
}

.add-btn:hover {
    background-color: var(--bg-light-blue) !important;
    transition: all .5s;
}

.category_button {
    display: flex;
    text-align: center;
    justify-content: center;
    color: var(--bg-light-blue) !important;
    border: 2px solid var(--bg-light-blue) !important;
    width: 127px;
    font-weight: bold !important;
    font-size: 16px;
    margin: 5px;
    height: 25px;
    padding: 0 !important;

}

.category_button:hover {
    color: white !important;
    border: 2px solid var(--bg-light-blue) !important;
    background-color: var(--bg-light-blue) !important;
}

.category_button_active {
    background-color: var(--bg-light-blue) !important;
    color: white !important;
}

.btn-add-del {
    --bs-btn-color: white !important;
    --bs-btn-bg: gray !important;
    --bs-btn-border-color: var(--bg-dark-blue);
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: var(--bg-dark-blue);
    --bs-btn-hover-border-color: var(--bg-dark-blue);
    --bs-btn-focus-shadow-rgb: 225,83,97;
    --bs-btn-active-color:white;
    --bs-btn-active-bg: var(--bg-dark-blue);
    --bs-btn-active-border-color: var(--bg-dark-blue);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
}

.btn-group-quantity > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: auto;
}

/* links */
.menu-link {
    font-weight: 600 !important;
    color: black !important;    
}
.menu-link-active {
    color: var(--bg-light-blue) !important;
}
.menu-link:hover {
    color: var(--bg-light-blue) !important;
}



/**carito - orders*/

/* steps */

.circle-active {
    background-color: var(--text-blue);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-left: -10px;
    box-shadow: 2px 2px 1px white;
}

.circle-disabled {
    background-color: var(--bg-ligth-gray);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-left: -10px;
    box-shadow: 2px 2px 1px #888888;
}

.rectangle-active {
    background-color: var(--text-blue);
    width: 200px;
    height: 25px;
    margin-left: -10px;
    display: flex;
    justify-content: center;
}

.rectangle-disabled {
    background-color: var(--bg-ligth-gray);
    width: 200px;
    height: 25px;
    margin-left: -10px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 1px #888888;
    border-radius: 2px;

}

.rectangle-active > p {
    color: white;
    font-weight: bold;
    display: flex;
  
}

.circle-active img,
.circle-disabled img {
    display: block;
    margin: auto;
}

.steps {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.circle-active,
.circle-disabled { 
    z-index: 2; 
}

.rectangle-active,
.rectangle-disabled {
    z-index: 1; 
}



/* order table */

.orders{

    border: var(--pink);
    display: flex;
    justify-content: center;
    text-align: center;
}

.order {
    border: 1px solid black;
    /*border-collapse: collapse;*/
    
}

.orderHeader {
    background-color: black;
    display: flex;
    flex-direction: column;
}


.cart-empty-message {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    font-size: 25px;
}

.cart-image {
    margin-top: 20px;
    width: 200px;
}

.order-product-image {
    max-width: 90px;
    max-height: 90px;
    object-fit: cover;
}

/*payment checkout*/
.payment {
    border: solid lightgray 1px;
    padding: 15px;
    border-radius: 10px;
    height: 400px;
}
.checkout {
    width: 400px !important;
}
.payment-card {
    width: 50px;
}
.card-row {
    display: flex;
    justify-content: center;
}



/* carousel */

.carousel-item > img {
    max-height: 650px !important;
    object-fit: cover;
}

/* margins */

.m-10 {
    margin: 10px !important;
}
.m-20 {
    margin: 20px !important;
}
.mt-10 {
    margin-top: 10px !important;
}
.mt-70 {
    margin-top: 70px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mw-250 {
    max-width: 250px;
}


 /* ICONS */
.icons {
    height: 25px;
    width: 25px;
}

/* PRODUCT CARD */

.product-card {
    border: none !important;
    border-radius: 0px !important;
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}

.product-card .card {
    border-radius: 0 !important;
    padding: 0px !important;
}

.product-card .card-image {
    height: 149px !important;
}

.product-card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card .card-title {
    color: var(--text-blue);
    font-weight: bold;
}

.product-card .card-body {
    background-color: #f2f2f2;
}

.product-card .card-body > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card .card-body > div > a {
    display: flex;
}

.product-card .card-body > div > div > .icons {
    height: 20px;
    width: 20px;
}

.product-card .card-body .card-text > span {
    color: red;
}


/* HOME CARDS */
.home-welcome-primary {
    background-color: var(--bg-dark-blue); 
    height: 380px;
    display: flex;
    flex-direction: column;
}

.home-welcome-primary > a {
    margin-top: auto;
}

.home-welcome-secondary {
    background-color: var(--bg-light-blue);
    height: 281.8px;
    display: flex;
}

.home-welcome-secondary-separator {
    display: flex;
    justify-content: center;
}

.home-welcome-secondary-separator > div {
    width: 0.5px;
    height: 100%;
    background-color: white;
}

.home-welcome-secondary-body {
    display: flex;
    flex-direction: column;
}

.home-welcome-secondary >* a {
    margin-top: auto;
}

.home-plates-bg {
    background-image: url("../images/home/pasta.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    height: 380px;
}

.home-breakfast-bg {
    background-image: url("../images/home/breakfast.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 281.8px;
}

.home-drinks-bg {
    background-image: url("../images/home/coctails.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    height: 281.8px;
}

.home-offer {
    height: 350px;
    position: relative;
}

.home-offer-heading {
    height: 60%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.home-offer-heading > h3 {
    z-index: 2;
    color: white !important;
    font-size: 32px !important;
    font-weight: bold !important; 
}

.home-offer-button {
    display: flex;
    text-align: center;
    justify-content: center;
}
.home-offer-button > button {
    z-index: 2;
    border-radius: 0 !important;
    --bs-btn-color: white !important;
    --bs-btn-bg: var(--pink) !important;
    --bs-btn-border-color: var(--pink) !important;
    --bs-btn-hover-bg: var(--pink) !important;
    --bs-btn-hover-color: white !important;
    --bs-btn-hover-border-color: white !important;
    --bs-btn-font-weight: bold !important;
    font-size: 20px !important;
    padding: 10px;
}

.home-offer-breakfast-bg {
    background-image: url("../images/home/offer_breakfast.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

.home-offer-pasta-bg {
    background-image: url("../images/home/offer_pasta.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
}

.home-offer-toast-bg {
    background-image: url("../images/home/offer_toast.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

.home-offer::before,
.home-offer::before,
.home-offer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.home-offer:hover::before,
.home-offer:hover::before,
.home-offer:hover::before {
    transition: all .5s;
    background-color: var(--bg-dark-blue-alpha); 
}


.horaris {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* Alinea los elementos al principio del contenedor */
}

.horaris img {
    margin-right: 20px; /* Ajusta el valor según sea necesario para la separación deseada */
}

.horaris-content {
    flex: 1; /* Para que el contenido se expanda y ocupe el espacio restante */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos al principio del contenedor */
}

.horaris-content p {
    width: 100%; /* Hace que los párrafos ocupen todo el ancho disponible */
    margin-top: 0; /* Elimina el margen superior para que "Dies de tancament" esté más cerca del texto */
}



/* REGISTER / LOGIN */
.tg-form input:not([type=checkbox], [type=file]),
.tg-form select {
    border: 1px solid #cacccd !important;
    box-shadow: 2px 2.3px 0 0 #cacccd !important;
    min-width: 200px !important;
    height: 35px !important;
    padding: 8px !important;
    border-radius: 0 !important;
}

.tg-form-block input:not([type=checkbox], [type=file]),
.tg-form-block select {
    display: block !important;
    width: 100% !important;
}
.tg-form input:focus {
    outline: none !important;
}


.submit-button {
    background-color: var(--pink);
    border: 0;
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



.floating-address {
    position: absolute; 
    top: 40px; 
    left: 40px; 
    background-color: rgb(255, 255, 255, 0.5); 
    width: 350px; 
    height:400px; 
    padding: 15px;
}

.contact {
    background-color: #090083;
    height: 213.6px;
    color: white;
    display: flex;
    align-items: center;
    
}

.contact > .container {
    display: flex;

    justify-content: space-between;
}
 

/* PROFILE */
.last-order {
    background-color: var(--bg-light-blue);
    padding: 20px !important;
}

.last-order h4,
.last-order p {
    color: white !important;
}

.btn-return {
    color: var(--dark-pink);
    font-weight: bold;
}