table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.container {
    display: flex;
    justify-content: center;
}

.button-resume{
    float: right;
    background-color: #E5007D;
    border: 0;
    width: 20px;
    color: white;
}
body{
    width: 1440px;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    float: right;
    margin-top: 20px;
    width: 50px;
    background-color: #ebebeb;


}

.content {
    clear: both; 
    padding: 20px;
}

